.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

/**
 * 【5】 設定ブロックの背景をストライプに変更
 */
.onecolumn-gaia .contents-gaia .main-gaia {
  background-image: repeating-linear-gradient(
    135deg,
    #bff5ff,
    #bff5ff 10px,
    #bbe7fe 10px,
    #bbe7fe 20px
  );
}
