.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}

/**
 * 【3】 画面上部のアプリ名の背景をストライプに変更
 */
.gaia-mobile-v2-app-record-breadcrumbnavigation.gaia-mobile-v2-app-record-breadcrumbnavigation-app-not-in-space {
  background-image: repeating-linear-gradient(
    135deg,
    #bff5ff,
    #bff5ff 10px,
    #bbe7fe 10px,
    #bbe7fe 20px
  );
}
